
    <div class = "container">
    <div class = "bootcamps">

    <h1>Bootcamps</h1>
    <ul>
    {{#each bootcamp}}
    <div>
        <li class = "bootlist">
            <a href="/candidates/{{this.id}}">
                <h2>{{this.name}}</h2>
                <img src="{{this.logoURL}}" alt="Bootcamp" width="150px" id="bootImage">
            </a>
        </li>
    </div>

    {{/each}}
    </ul>


    </div>

        <a class="btn btn-store smooth-scroll" href="/bootcamp">Create a bootcamp</a>
      </div>
