
    <div class = "container">
            <a class="btn btn-store smooth-scroll" href="#schools">Rutgers Coding Bootcamp</a>
            <a class="btn btn-store smooth-scroll" href="#schools">General Assembly</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Metis</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Galvanize</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Ada Developers Academy</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Angelhack</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Anyone can learn to code</a>
            <a class="btn btn-store smooth-scroll" href="#schools">App Academy</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Apprentice</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Sabio</a>
            <a class="btn btn-store smooth-scroll" href="#schools">HackerU</a>
          </div>
        </div>

        <a class="btn btn-store smooth-scroll" href="#schools">Can't find yours?</a>
      </div>
    </section>
    
    
   