<!--Set up this file to have the template that Handlebars can render onto
Also, create a button that will submit the user input into the database.-->

<!-- Stays constant -->
  <div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <img id="navlogo" src="img/navlogo-blue.png" alt="microstore" width="122" height="45">
          </a>

        </div>
        <div class="collapse navbar-collapse">
          <ul id="navigation" class="nav navbar-nav navbar-right text-center">
            <li><a href="#products">Bootcamps</a></li>
            <li><a href="#about">Startups</a></li>
            <!-- <li><a href="#testimonial">Testimonials</a></li> -->
            <li><a href="#orderform">Login/Sign-up</a></li>
          </ul>
        </div>

      </div>
    </div>

<!--What will be changing. We will be generating buttons based on bootcamps from database -->

  <section id="about" class="padding-top-bottom ">
      <div class="container">
        <div class="row">
          <div class="col-md-4 anima fadeInLeft">
            <header class="section-header cta-message">

            <br>
            <br>
            <br>
              <h2>Select your bootcamp</h2>
            </header>
          </div>

          <br>
          <br>
          <br>
          <div class="col-md-8 cta-message anima fade-up">
            <a class="btn btn-store smooth-scroll" href="#schools">Rutgers Coding Bootcamp</a>
            <a class="btn btn-store smooth-scroll" href="#schools">General Assembly</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Metis</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Galvanize</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Ada Developers Academy</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Angelhack</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Anyone can learn to code</a>
            <a class="btn btn-store smooth-scroll" href="#schools">App Academy</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Apprentice</a>
            <a class="btn btn-store smooth-scroll" href="#schools">Sabio</a>
            <a class="btn btn-store smooth-scroll" href="#schools">HackerU</a>
          </div>
        </div>

        <a class="btn btn-store smooth-scroll" href="#schools">Can't find yours?</a>
      </div>
    </section>
    
    
    <!--What will be staying constant -->

        <footer id="main-footer" class="dark-bg light-typo">
      <div class="container">
        <p class="pull-left copyright">&copy; MicroStore 2014. <br> Designed by <a href="http://demo.angelostudio.net" target="_blank">Angelo Studio</a>.<br>
        </p>

        <div class="pull-right paymentMethodImg copyright">
          <a class="btn btn-store outline" href="#" data-toggle="modal" data-target=".text-modal">Terms & conditions</a>
        </div>
      </div>
    </footer>

    
    <script type="text/javascript" src="plugins/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="plugins/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="plugins/waitforimages/jquery.waitforimages.min.js"></script> 
  
    <script type="text/javascript" src="js/hero-slider.js"></script>
    <script type="text/javascript" src="js/project-slider.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

