
    <div class = "container">
    <div class = "bootcamps">

    <h1> Bootcamps </h1>
    <ul>
    {{#each Bootcamp}}

        <li class = "bootlist">

            <form action="bootcamps/update/{{this.id}} method="POST">
           {{this.name}}
            </form>

            <img src="{{this.logoURL}}" alt="Bootcamp" id = "bootImage">

        </li>
    {{/each}}
    </ul>
   

    </div>

        <a class="btn btn-store smooth-scroll" href="/api/create/getbootcamp">Create a bootcamp</a>
      </div>
    
  