<div class="container">

   <div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse">
          <ul id="navigation" class="nav navbar-nav navbar-right text-center">
            <li><a href="/bootcamps">Bootcamps</a></li>
            <li><a href="#about">Startups</a></li>
            <!-- <li><a href="#testimonial">Testimonials</a></li> -->
            <li><a href="#orderform">Login/Sign-up</a></li>
          </ul>
        </div>

      </div>
    </div>

    <br>
      <div class="relative">
          <img src="img/start_to_finish.jpg" alt="Landing" width="1140" height="630">
          <div class="absolute"> <h1> About Bootcamps <h1>
             <button class = "btn" type="button" style="background-color:white">Explore</button> </div>
          </div>
          </div>