<!--Set up this file to have the template that Handlebars can render onto
Also, create a button that will submit the user input into the database.-->

<!-- Stays constant -->
  <div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
            <img id="navlogo" src="img/navlogo-blue.png" alt="microstore" width="122" height="45">
          </a>

        </div>
        <div class="collapse navbar-collapse">
          <ul id="navigation" class="nav navbar-nav navbar-right text-center">
            <li><a href="#products">Bootcamps</a></li>
            <li><a href="#about">Startups</a></li>
            <!-- <li><a href="#testimonial">Testimonials</a></li> -->
            <li><a href="#orderform">Login/Sign-up</a></li>
          </ul>
        </div>

      </div>
    </div>

<!--What will be changing. We will be generating table based on bootcamps from database -->

        <section id="orderform" class="gray-bg padding-top-bottom" ng-controller="orderController">
      <div class="container">
        <header class="section-header text-center">

        <br>
        <br>
        <br>


          <h2>Login/Sign-up</h2>
        </header>

        <div class="login">
        <form accept-charset="UTF-8" action="/users/login" class="s-form" id="new_user" method="post" _lpchecked="1"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="qunlKd+rJFO/VJWHhTdwXJ86kH8VpCp6uyLQNTkaSW4="></div><input id="login_only" name="login_only" type="hidden" value="true">

          <input autofocus="autofocus" class="u-fontSize14 js-email" id="user_email" name="user[email]" placeholder="Email" size="30" type="text" value="">
            <div class="s-vgTop1_5">
              <input class="u-fontSize14" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
            </div>
            <div class="s-vgTop1_5">
              <input class="c-button c-button--blue s-vgPadLeft1_5 s-vgPadRight1_5" name="commit" ontouchstart="" type="submit" value="Log In">
                <a href="/users/password/new" class="u-uncoloredLink u-colorGray6 s-vgLeft1 u-fontSize14 js-forgot_password">Forgot password?</a>
            </div>
          </form>

          </div>


      </div>

     <div class="sidebar">
            <div id="connect">
                <h2>Sign-up</h2>
                  <form action="index.html" method="post" novalidate id="contact-form">
                  <br>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 anima fade-up d1" >
              <div class="form-group">
                <label class="control-label" for="contact-name">Name</label>
                <div class="controls">
                  <input id="contact-name" name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="contact-mail">Email</label>
                <div class=" controls">
                  <input id="contact-mail" name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email">
                </div>
              </div>
              <p>
                <button name="submit" type="submit" class="btn btn-store btn-block">Come on in!</button></p>
              <input type="hidden" name="submitted" id="submitted3" value="true">
            </div>
          </div>
        </form>
               
            </div>
            </div>
        </section>

    <!--What will be staying constant -->

        <footer id="main-footer" class="dark-bg light-typo">
      <div class="container">
        <p class="pull-left copyright">&copy; MicroStore 2014. <br> Designed by <a href="http://demo.angelostudio.net" target="_blank">Angelo Studio</a>.<br>
        </p>

        <div class="pull-right paymentMethodImg copyright">
          <a class="btn btn-store outline" href="#" data-toggle="modal" data-target=".text-modal">Terms & conditions</a>
        </div>
      </div>
    </footer>

    
    <script type="text/javascript" src="plugins/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="plugins/singlepagenav/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="plugins/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="plugins/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="plugins/waitforimages/jquery.waitforimages.min.js"></script> 
  
    <script type="text/javascript" src="js/hero-slider.js"></script>
    <script type="text/javascript" src="js/project-slider.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

